@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

:root {
  --font-Cormorant: "Cormorant", serif;
  --font-NanumMyeongjo: "Nanum Myeongjo", serif;
  --font-Pretendard: "Pretendard-Regular", sans-serif;
  --font-NotoSans: "Noto S  ans KR", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nanum Myeongjo", serif;
}

button {
  border: none;
  background-color: transparent;
}

body {
  background-color: #F5F3EC;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

[class*=inner] {
  width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 500px) {
  [class*=inner] {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
}
#footer {
  background-color: #121212;
}
#footer .footer-inner .grid-box {
  display: grid;
  grid-template-areas: "item01 item02" "item04 item03";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}
#footer .footer-inner .grid-box .item {
  color: white;
}
#footer .footer-inner .grid-box .item a {
  color: white;
  font-weight: normal;
  font-family: var(--font-Pretendard);
}
#footer .footer-inner .grid-box .item.item01 {
  grid-area: item01;
  padding: 115px 30px 60px 0;
}
#footer .footer-inner .grid-box .item.item01 h2 {
  margin-bottom: 70px;
  font-family: var(--font-Pretendard);
}
#footer .footer-inner .grid-box .item.item01 nav .footer-menu-warps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
#footer .footer-inner .grid-box .item.item01 nav .footer-menu-warps > li > a {
  font-weight: bold;
  font-size: 1.2rem;
}
#footer .footer-inner .grid-box .item.item01 nav .footer-menu-warps > li > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
#footer .footer-inner .grid-box .item.item02 {
  position: relative;
  grid-area: item02;
  padding: 115px 50px 60px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}
#footer .footer-inner .grid-box .item.item02 .top-button {
  position: absolute;
  border: none;
  background: none;
  color: white;
  right: 0;
  top: 40%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 14px;
}
#footer .footer-inner .grid-box .item.item02 .top-button::before {
  content: "SCROLL TO TOP";
  position: absolute;
  right: -80px;
  top: 50%;
  color: white;
  font-size: 14px;
  width: 150px;
}
#footer .footer-inner .grid-box .item.item02 .top-button::after {
  content: "";
  position: absolute;
  right: 100px;
  top: -6px;
  -webkit-transform: translateY(-25%) rotate(180deg);
          transform: translateY(-25%) rotate(180deg);
  background: url(../images/link_arrow.svg) no-repeat center;
  background-size: contain;
  width: 30px;
  height: 30px;
  -webkit-animation: ani-arrow-up-down 1s infinite alternate;
          animation: ani-arrow-up-down 1s infinite alternate;
}
@-webkit-keyframes ani-arrow-up-down {
  0% {
    -webkit-transform: translateX(-50%) rotate(180deg);
            transform: translateX(-50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translateX(0%) rotate(180deg);
            transform: translateX(0%) rotate(180deg);
  }
}
@keyframes ani-arrow-up-down {
  0% {
    -webkit-transform: translateX(-50%) rotate(180deg);
            transform: translateX(-50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translateX(0%) rotate(180deg);
            transform: translateX(0%) rotate(180deg);
  }
}
#footer .footer-inner .grid-box .item.item02 address {
  margin-bottom: 100px;
}
#footer .footer-inner .grid-box .item.item02 address dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  font-family: var(--font-Pretendard);
}
#footer .footer-inner .grid-box .item.item02 address dl dt {
  width: 100px;
  font-family: var(--font-Pretendard);
  font-style: normal;
}
#footer .footer-inner .grid-box .item.item02 address dl dd {
  font-style: normal;
  font-family: var(--font-Pretendard);
}
#footer .footer-inner .grid-box .item.item02 .policy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#footer .footer-inner .grid-box .item.item02 .policy ul li a {
  padding: 14px 7px;
}
#footer .footer-inner .grid-box .item.item03 {
  grid-area: item03;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 50px 70px;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}
#footer .footer-inner .grid-box .item.item03::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: -120px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}
#footer .footer-inner .grid-box .item.item03 .sns ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
#footer .footer-inner .grid-box .item.item03 .sns ul li a i {
  font-size: 20px;
  padding: 10px;
}
#footer .footer-inner .grid-box .item.item04 {
  grid-area: item04;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#footer a {
  color: white;
}

@media screen and (max-width: 500px) {
  #footer {
    background-color: #121212;
  }
  #footer .footer-inner .grid-box {
    display: grid;
    grid-template-areas: "item01 item01" "item02 item02" "item03 item03" "item04 item04";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }
  #footer .footer-inner .grid-box .item {
    color: white;
  }
  #footer .footer-inner .grid-box .item a {
    color: white;
    font-weight: normal;
    font-family: var(--font-Pretendard);
  }
  #footer .footer-inner .grid-box .item.item01 {
    grid-area: item01;
    padding: 0;
  }
  #footer .footer-inner .grid-box .item.item01 h2 {
    margin: 20px 0;
    font-family: var(--font-Pretendard);
  }
  #footer .footer-inner .grid-box .item.item01 nav .footer-menu-warps {
    display: none;
  }
  #footer .footer-inner .grid-box .item.item01 nav .footer-menu-warps > li > a {
    font-weight: bold;
    font-size: 1.2rem;
  }
  #footer .footer-inner .grid-box .item.item01 nav .footer-menu-warps > li > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  #footer .footer-inner .grid-box .item.item02 {
    position: relative;
    grid-area: item02;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
  }
  #footer .footer-inner .grid-box .item.item02 .top-button {
    position: absolute;
    border: none;
    background: none;
    color: white;
    right: 0;
    top: 20%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    font-size: 14px;
  }
  #footer .footer-inner .grid-box .item.item02 .top-button::before {
    content: "SCROLL TO TOP";
    position: absolute;
    right: -80px;
    top: 30%;
    color: white;
    font-size: 14px;
    width: 150px;
  }
  #footer .footer-inner .grid-box .item.item02 .top-button::after {
    content: "";
    position: absolute;
    right: 100px;
    top: -6px;
    -webkit-transform: translateY(-25%) rotate(180deg);
            transform: translateY(-25%) rotate(180deg);
    background: url(../images/link_arrow.svg) no-repeat center;
    background-size: contain;
    width: 30px;
    height: 30px;
  }
  #footer .footer-inner .grid-box .item.item02 address {
    margin-bottom: 0px;
  }
  #footer .footer-inner .grid-box .item.item02 address dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    font-family: var(--font-Pretendard);
  }
  #footer .footer-inner .grid-box .item.item02 address dl dt {
    width: 100px;
    font-family: var(--font-Pretendard);
    font-style: normal;
  }
  #footer .footer-inner .grid-box .item.item02 address dl dd {
    font-style: normal;
    font-family: var(--font-Pretendard);
  }
  #footer .footer-inner .grid-box .item.item02 .policy ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }
  #footer .footer-inner .grid-box .item.item02 .policy ul li a {
    padding: 14px 7px;
  }
  #footer .footer-inner .grid-box .item.item03 {
    grid-area: item03;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.462745098);
    border-bottom: 1px solid rgba(255, 255, 255, 0.462745098);
  }
  #footer .footer-inner .grid-box .item.item03::after {
    content: "";
    position: absolute;
    top: 0;
    left: 57%;
    height: 100%;
    width: 1px;
    border-right: 1px solid rgba(255, 255, 255, 0.462745098);
  }
  #footer .footer-inner .grid-box .item.item03 .sns ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
  #footer .footer-inner .grid-box .item.item03 .sns ul li a i {
    font-size: 20px;
    padding: 10px;
  }
  #footer .footer-inner .grid-box .item.item04 {
    grid-area: item04;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
  }
  #footer a {
    color: white;
  }
}