@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

:root {
  --font-Cormorant: "Cormorant", serif;
  --font-NanumMyeongjo: "Nanum Myeongjo", serif;
  --font-Pretendard: "Pretendard-Regular", sans-serif;
  --font-NotoSans: "Noto S  ans KR", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nanum Myeongjo", serif;
}

button {
  border: none;
  background-color: transparent;
}

body {
  background-color: #F5F3EC;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

[class*=inner] {
  width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 500px) {
  [class*=inner] {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
}
#sub-MPyc .sub-MPyc-inner .subMainImg-hiddenBox {
  position: relative;
  width: 100%;
  height: auto;
}
#sub-MPyc .sub-MPyc-inner .subMainImg-hiddenBox .subMainImg img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 0%;
  height: 822px;
  display: block;
  margin: 120px auto;
  overflow: hidden;
}
#sub-MPyc .sub-MPyc-inner .subMainImg-hiddenBox .subMainImg.active img {
  -webkit-animation: shrinkWidth 1s forwards;
          animation: shrinkWidth 1s forwards;
}
@-webkit-keyframes shrinkWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes shrinkWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
#sub-MPyc .sub-MPyc-inner .subMainImg-hiddenBox .subMainImg h6 {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1000px;
  text-align: center;
  font-size: 45px;
  z-index: 10;
  opacity: 0;
}
#sub-MPyc .sub-MPyc-inner .subMainImg-hiddenBox .subMainImg.active h6 {
  -webkit-animation: opacity 1s forwards;
          animation: opacity 1s forwards;
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
#sub-MPyc .sub-MPyc-inner .Academy-Warps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
#sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy h2 {
  font-family: var(--font-Pretendard);
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 600;
}
#sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy > p {
  font-size: 20px;
  margin-bottom: 45px;
  font-family: var(--font-Pretendard);
}
#sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card {
  position: relative;
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 120px;
}
#sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
#sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card p {
  font-family: var(--font-Pretendard);
  padding-top: 15px;
}
#sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card .card-title {
  font-size: 20px;
  font-weight: bold;
}
#sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card .card-desc {
  color: #333;
}
#sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card .effect {
  position: absolute;
  left: 0;
  top: 0;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card .effect.active {
  width: 80px;
  height: 80px;
}
#sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card .effect.active img {
  left: 20px;
}
#sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card .effect img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  left: -210px;
  width: 50%;
  height: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

@media screen and (max-width: 768px) {
  #sub-MPyc .sub-MPyc-inner .subMainImg-hiddenBox {
    position: relative;
    width: 100%;
    height: auto;
  }
  #sub-MPyc .sub-MPyc-inner .subMainImg-hiddenBox .subMainImg img {
    width: 100%;
    position: relative;
    margin: 20px 0 20px 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #sub-MPyc .sub-MPyc-inner .subMainImg-hiddenBox .subMainImg h6 {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 1000px;
    text-align: center;
    font-size: 23px;
    z-index: 10;
    width: 90%;
  }
  #sub-MPyc .sub-MPyc-inner .Academy-Warps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  #sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy h2 {
    font-family: var(--font-Pretendard);
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  #sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy > p {
    font-size: 17px;
    margin-bottom: 45px;
    font-family: var(--font-Pretendard);
  }
  #sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
  }
  #sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card {
    position: relative;
    width: 49%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
    height: 100%;
  }
  #sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card img {
    border-radius: 5px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 150px;
  }
  #sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card p {
    font-family: var(--font-Pretendard);
    padding-top: 15px;
  }
  #sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card .card-title {
    font-size: 20px;
    font-weight: bold;
  }
  #sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card .card-desc {
    color: #333;
  }
  #sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card .effect {
    position: absolute;
    left: 0;
    top: 0;
    position: absolute;
    left: 50%;
    top: 28%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card .effect.active {
    width: 40px;
    height: 40px;
  }
  #sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card .effect.active img {
    left: 11px;
  }
  #sub-MPyc .sub-MPyc-inner .Academy-Warps .Academy .card-Warps .card .effect img {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    left: -210px;
    width: 50%;
    height: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
}