.visual {
  position: relative;
  height: 666px;
  background: url(sub_Images/concert_bg01.jpg);
  background-size: cover;
}
.visual .text-box .visual-inner #lnb.lnb1 > ul {
  position: absolute;
  left: 6%;
  top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  color: #ffffff;
}
.visual .text-box .visual-inner #lnb.lnb1 > ul > li {
  position: relative;
}
.visual .text-box .visual-inner #lnb.lnb1 > ul > li:not(:last-child)::after {
  position: absolute;
  content: ">";
  top: 0;
  left: 32px;
}
.visual .text-box .visual-inner #lnb.lnb1 > ul > li .list-arrow {
  cursor: pointer;
}
.visual .text-box .visual-inner #lnb.lnb1 > ul > li .other-list {
  position: absolute;
  left: -270%;
  width: 120px;
  top: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ffffff;
  color: black;
  overflow: hidden;
}
.visual .text-box .visual-inner #lnb.lnb1 > ul > li .other-list.active {
  max-height: 300px;
}
.visual .text-box .visual-inner #lnb.lnb1 > ul > li .other-list li {
  padding: 10px;
}
.visual .text-box .visual-inner .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.visual .text-box .visual-inner .text h2 {
  font-size: 120px;
  color: white;
  font-family: var(--font-Cormorant);
  -webkit-animation: fadeEffect 2s forwards;
          animation: fadeEffect 2s forwards;
}
@-webkit-keyframes fadeEffect {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .visual .visual {
    position: relative;
    height: 666px;
    background: url(sub_Images/concert_bg01.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  .visual .visual .text-box .visual-inner #lnb.lnb1 ul {
    position: absolute;
    left: 6%;
    top: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 17px;
    color: #ffffff;
  }
  .visual .visual .text-box .visual-inner #lnb.lnb1 ul > li {
    position: relative;
  }
  .visual .visual .text-box .visual-inner #lnb.lnb1 ul > li .list-arrow {
    cursor: pointer;
  }
  .visual .visual .text-box .visual-inner #lnb.lnb1 ul > li .other-list {
    position: absolute;
    left: -270%;
    width: 120px;
    top: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #ffffff;
    color: black;
    overflow: hidden;
  }
  .visual .visual .text-box .visual-inner #lnb.lnb1 ul > li .other-list.active {
    max-height: 300px;
  }
  .visual .visual .text-box .visual-inner #lnb.lnb1 ul > li .other-list li {
    padding: 10px;
  }
  .visual .visual .text-box .visual-inner #lnb.lnb1 ul > li:not(:last-child)::after {
    position: absolute;
  }
  .visual .visual .text-box .visual-inner .text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .visual .visual .text-box .visual-inner .text h2 {
    font-size: 40px;
    width: 100vw;
    text-align: center;
    color: white;
    font-family: var(--font-Cormorant);
  }
}