@import "common";
#header {

  position: fixed;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);

  .header-inner {
    width: 100vw;
    height: 80px;
    max-height: 100px;
    transition: 0.8s;
    position: relative;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid #ffffff;
    }

    .flex-box {
      display: flex;
      justify-content: space-between;
      width: 1700px;
      margin: auto;

      .left {
        display: flex;
        align-items: center;

        .logo {
          margin-right: 63px;

          a {
            img {}
          }
        }

        nav {
          a {
            font-family: var(--font-NotoSans);
          }

          .menu {
            display: flex;
            padding: 0 20px;
            gap: 20px;
            font-family: var(--font-NotoSans);
            font-weight: 700;
            li {
              >a {
                padding: 10px 20px;
                color: #ffffff;
                font-size: 17px;
              }

              .sub-menu-box {
                position: relative;

                ul[sub-menu] {
                  position: absolute;
                  max-height: 0;
                  overflow: hidden;
                  transition: 0.8s;
                  background-color: white;
                  left: 50%;
                  transform: translateX(-50%);
                  top: 40px;

                  li {

                    a {
                      display: block;
                      width: 190px;
                      text-align: center;
                      color: #000;
                      font-size: 17px;
                    }
                  }
                }
              }
            }
          }


        }

      }

      .right {
        display: flex;
        align-items: center;

        i {
          color: white;
        }

        button {
          padding: 10px;
          border: none;
          background: none;
          font-size: 20px;
        }

        .mypage {
          button {}
        }

        .lang {
          button {}
        }

        .search {
          button {}
        }

        .mobile-menu {
          display: none;

          button {}
        }
      }
    }

    .mobile-menu-Nav {
      display: none;

      ul.mobile-menu {
        li {
          a {}

          .mobile-sub-menu-box {
            ul.mobile-sub-menu {
              li {
                a {}
              }
            }
          }
        }
      }
    }
  }



}

#search {
  width: 100%;



  .blank {

    .inner {
      height: 300px;
      display: flex;
      align-items: center;
      padding: 0;
      max-height: 0;
      transition: .3s;
      overflow: hidden;

      &.active {
        max-height: 300px;
        overflow: visible;
      }

      .searchform {
        .search-inner {
          .input {
            width: 50%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto;

            &::after {
              content: "";
              position: absolute;
              bottom: 0px;
              left: 50%;
              transform: translateX(-50%);
              width: 100%;
              height: 1px;
              border-bottom: 1px solid #000;
            }

            input {
              flex: 9;
              border: none;
              padding: 20px 45px 20px 0;
              font-size: 20px;
              background-color: transparent;
              font-family: var(--font-NotoSans);
              font-weight: 400;
              &:focus {
                outline: none;
              }
            }

            button {
              flex: 1;
              border: none;
              background-color: transparent;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #header {
    width: 100vw;

    .header-inner {
      height: 80px;

      .flex-box {
        .left {
          .logo {
            margin-right: 20px;
          }

          nav {
            display: none;

            .menu {
              li {
                >a {
                  padding: 5px 10px;
                }

                .sub-menu-box {
                  ul[sub-menu] {
                    left: -30%;
                  }
                }
              }
            }


          }

        }

        .right {
          i {
            font-size: 18px;
          }

          button {
            font-size: 16px;
          }

          .mobile-menu {
            display: block;

            button {}
          }
        }
      }

      .mobile-menu-Nav {
        a {
          font-family: var(--font-Pretendard);
        }

        display: none;
        background-color: rgb(255, 255, 255);
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 99999;
        padding: 20px 50px;

        .close-btn {
          text-align: right;
          font-size: 50px;
        }

        .mobile-menu {

          >li {


            >a {
              font-size: 30px;
              color: black;
            }

            .mobile-sub-menu-box {
              max-height: 0px;
              overflow: hidden;
              background-color: #231815;
              margin-top: 20px;
              transition: 1s;

              ul {
                li {
                  padding: 10px 20px;
                  a{
                    display: block;
                    padding: 10px 20px;
                    font-size: 18px;
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // #search .blank .inner {
  //   height: 200px;
  // }

  #search {
    width: 100%;
  
  
    .blank {
  
      .inner {
        position: fixed;
        height: 300px;
        display: flex;
        align-items: center;
        padding: 0;
        max-height: 0;
        transition: .3s;
        overflow: hidden;
  
        &.active {
          max-height: 300px;
          overflow: visible;
        }
  
        .searchform {
          .search-inner {
  
            .input {
              width: 90vw;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: auto;
  
              &::after {
                content: "";
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: 1px;
                border-bottom: 1px solid #000;
              }
  
              input {
                flex: 9;
                border: none;
                padding: 20px 45px 20px 0;
                font-size: 20px;
                background-color: transparent;
                font-family: var(--font-NotoSans);
                font-weight: 400;
                &:focus {
                  outline: none;
                }
              }
  
              button {
                flex: 1;
                border: none;
                background-color: transparent;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}