@import "common";

#noticeYoutube {
  margin-bottom: 100px;

  .noticeYoutube-inner {
    .flex-box {
      display: flex;

      .video {
        flex: 4;

        h2 {
          height: 130px;
          font-size: 50px;
          line-height: 130px;
        }

        iframe {}
      }

      .notice-warps {
        flex: 6;
        overflow: hidden;

        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h2 {
            font-size: 50px;
            padding-left: 105px;
            font-weight: bold;
          }

          a {
            border: 1px solid #000;
            position: relative;
            border: 1px solid rgba(0, 0, 0, 0.6);
            color: rgb(0, 0, 0);
            width: 100px;
            height: 100px;
            border-radius: 50%;
            @include CircleInArrow; // mixin 적용

            &::after {
              filter: invert(100%);
            }

            &::before {
              content: "";
              left: 50%;
              top: 50%;
              width: 100%;
              height: 100%;

              border-radius: 50%;
              transform: translate(-50%, -50%) scale(0);
              position: absolute;
              background-color: #ffffff;
              transition: 1s;
            }

            &:hover::before {
              filter: invert(100%);
              transform: translate(-50%, -50%) scale(1);
            }

            &:hover::after {
              filter: invert(0);
            }


          }
        }

        ul {
          height: 400px;

          li {
            display: flex;
            height: calc(100%/5);
            align-items: center;

            .tag {
              flex: 1;
              width: 30px;
              margin-left: 105px;
              color: white;
              border-radius: 50px;
              text-align: center;
              height: 25px;
              line-height: 25px;
              font-size: 16px;

              &.NEWS {
                background-color: #6B4B43;
              }

              &.NOTICE {

                background-color: black;
              }
            }

            h6 {
              flex: 8;
              //padding-left: 105px;
              padding-left: 10px;
              font-size: 20px;
              font-family: var(--font-Pretendard);
              font-weight: normal;

              white-space: nowrap;        
              overflow: hidden;           
              text-overflow: ellipsis; 
            }

            span {
              flex: 1;
              font-family: var(--font-Pretendard);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #noticeYoutube {
    margin-bottom: 100px;

    .noticeYoutube-inner {
      .flex-box {
        display: flex;
        flex-direction: column;

        .video {
          flex: 4;

          h2 {
            height: 130px;
            font-size: 50px;
            line-height: 130px;
          }

          iframe {}
        }

        .notice-warps {
          flex: 6;

          .title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
              font-size: 50px;
              padding-left: 0px;
              font-weight: bold;
            }

            a {
              border: 1px solid #000;
              position: relative;
              border: 1px solid rgba(0, 0, 0, 0.6);
              color: rgb(0, 0, 0);
              width: 100px;
              height: 100px;
              border-radius: 50%;
              @include CircleInArrow; // mixin 적용

              &::after {
                filter: invert(100%);
              }

              &::before {
                content: "";
                left: 50%;
                top: 50%;
                width: 100%;
                height: 100%;

                border-radius: 50%;
                transform: translate(-50%, -50%) scale(0);
                position: absolute;
                background-color: #ffffff;
                transition: 1s;
              }

              &:hover::before {
                filter: invert(100%);
                transform: translate(-50%, -50%) scale(1);
              }

              &:hover::after {
                filter: invert(0);
              }


            }
          }

          ul {
            height: 400px;

            li {
              display: flex;
              height: calc(100%/5);
              align-items: center;

              .tag {
                flex: 2;
                margin-left: 0;
                color: white;
                border-radius: 50px;
                text-align: center;
                font-size: 14px;
                padding: 3px 5px;
                width: 10px;
                line-height: 16px;
                &.NEWS {
                  background-color: #6B4B43;
                }
                
                &.NOTICE {
                  
                  background-color: black;
                }
                
                h6 {
                  
                  flex: 7;
                  font-size: 20px;
                  font-family: var(--font-Pretendard);
                  font-weight: normal;
                  
                  white-space: nowrap;        
                  overflow: hidden;           
                  text-overflow: ellipsis; 
                }
                
                span {
                  
                  flex: 1;
                  font-family: var(--font-Pretendard);
                }
              }
            }
          }
        }
      }
    }

  }
}