@import "common";
@import "header";
@import "concert";
@import "Myyc";
@import "footer";

#Mpyc {
  background-color: #231815;
  color: white;
  .Mpyc-inner {
    .title-warp {
      .title-text {
        display: flex;
        align-items: center;
        h2 {
          font-size: 120px;
        }
        p {
          font-size: 20px;
        }
        a {
          position: relative;
          border: 1px solid #fff;
          border-radius: 50%;

          ::after{
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: url("../images/scroll_arrow.svg ") no-repeat center;
            background-size: cover;
          }
        }
      }
    }

    .gallery-warp {
      ul {
        li {
          img {}
        }
      }
    }
  }
}
