@import "common";
@import "header";
@import "concert";
@import "Myyc";
@import "noticeYoutube";
@import "logo_loop";
@import "main";
@import "footer";

article {

  .cursor {
    span {}
  }

  .visual {
    .swiper.mainVisual_swiper {
      width: 100%;
      height: 100vh;
      .swiper-wrapper {
        .swiper-slide {
          img{
            width: 100%; height: 100%;
            object-fit: cover;
          }
          border: 10px solid red;
        
          background-size: cover;
        }
      }
      .swiper-button-next {}
      .swiper-button-prev {}
      .swiper-pagination {}
    }

    .visual-box-pc {
      .slider-controller-warps {
        button {}

        .progress-container {
          .progress-bar {}
        }
      }
    }
  }
}
